<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    @model User
    <h1>Dojo Survey</h1>
    <form action="process" method="post">
        <div>
            <label for="Name">Name:</label>
            <input asp-for="Name">
            <span asp-validation-for="Name"></span>
        </div>
        <div>
            <label for="Location">Location:</label>
            <select asp-for="Location">
                <option value="San jose">San Jose</option>
                <option value="Online">Online</option>
                <option value="Chicago">Chicago</option>
            </select>
            <span asp-validation-for="Location"></span>

        </div>
        <dvi>
            <label for="Fav">Favorite Language:</label>
            <select asp-for="Fav">
                <option value="C#">C#</option>
                <option value="Python">Python</option>
                <option value="React">React</option>
            </select>
            <span asp-validation-for="Fav"></span>

        </dvi>
        <div>
            <label for="Comment">Comments:</label>
            <textarea asp-for="Comment" cols="20" rows="3"></textarea>
        </div>
        <input type="submit" value="Submit Form">
    </form>
</body>
</html>